@if (isLoading()) {
  <div class="loadingImagecontainer">
    <img class="loadingImage" src="/loading.png" alt="loading image" />
  </div>
} @else if (todoList().length > 0) {
  <section>
    <header class="header">
      <button class="button completedbtn">Todo List : {{ todoList().length }}</button>
    </header>

    <cdk-virtual-scroll-viewport itemSize="50" class="virtual-scrolling">
      @for (todo of todoList(); track todo) {
        <div class="card-container">
          <div
            class="container card-one"
            [ngClass]="{ complete: todo.completed, pending: !todo.completed }"
          >
            <h2 class="card-title">{{ todo.title }}</h2>
            <p class="description">{{ todo.description }}</p>
            <div class="btn-container">
              <button class="button-small btn-upadte" (click)="getId(todo.id)">Update</button>
              <button class="button-small" (click)="removeTodo(todo.id)">Remove</button>
            </div>
          </div>
          <div class="card-two">
            @if (todo.completed) {
              <div>
                <p>Completed</p>
                <img
                  class="icon"
                  src="/green-checkmark-icon.svg"
                  alt="A picture of green check mark"
                />
              </div>
            } @else {
              <div>
                <p>Pending</p>
                <img class="icon2" src="/caution-svgrepo-com.svg" alt="A picture of clock" />
              </div>
            }
          </div>
        </div>
      }
    </cdk-virtual-scroll-viewport>
  </section>
} @else {
  <section class="noTaskContainer">
    <div class="card nocard-one">
      <img class="noDataImage" src="/logo.svg" alt="logo image of the application" />
    </div>
    <div class="card nocard-two">
      <h2 class="displayText">No data available</h2>
    </div>
  </section>
}
