<section>
  <cdk-virtual-scroll-viewport itemSize="50" class="virtual-scrolling">
    @for (todo of todoList(); track todo) {
      <div class="card-container">
        <div
          class="container card-one"
          [ngClass]="{ complete: todo.completed, pending: !todo.completed }"
        >
          <h2 class="card-title">{{ todo.title }}</h2>
          <p>{{ todo.description }}</p>
          <button class="button-small">Update</button>
          <button class="button-small">Remove</button>
        </div>
        <div class="card-two">
          @if (todo.completed) {
            <h2>Completed</h2>
          } @else {
            <h2>Pending</h2>
          }
        </div>
      </div>
    }
  </cdk-virtual-scroll-viewport>
</section>
