header {
  display: flex;
  height: 15vh;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1e272e;
}

.logo {
  width: 50px;
}

.title {
  color: #ffffff;
  font-size: 6rem;
}

a {
  color: floralwhite;
}
