header {
  display: flex;
  height: 15vh;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1e272e;
  border-radius: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  width: 100px;
}

.title {
  color: #ffffff;
  font-size: 2rem;
}

@media screen and (min-width: 102px) {
  .title {
    color: #ffffff;
    font-size: 4rem;
  }
}

.logOut {
  color: floralwhite !important;
}
