@if (isLoading()) {
  <div class="loadingImagecontainer">
    <img class="loadingImage" src="/loading.png" alt="loading image" />
  </div>
} @else if (expensesList().length > 0) {
  <section>
    <header class="header"><button class="button headerbtn">Expense tracker</button></header>

    <cdk-virtual-scroll-viewport itemSize="50" class="virtual-scrolling">
      <table>
        <thead>
          <tr>
            <th>Categories</th>
            <th>Description</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          @for (expense of expensesList(); track expense.id) {
            <tr>
              <td>{{ expense.category }}</td>
              <td>{{ expense.description | titlecase }}</td>
              <td>{{ expense.created_at | date: 'dd/MM/yyyy' }}</td>
              <td>{{ expense.amount.toFixed(2) }}</td>
              <td>
                <button class="button remove" (click)="removeExpense(expense.id)">Remove</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </cdk-virtual-scroll-viewport>
    <div>
      <td class="footer-heading">This Month</td>
      <td class="footer-heading">{{ thisMonth() | currency: 'INR' }}</td>
      <td class="footer-heading">Total</td>
      <td class="footer-heading">{{ total() | currency: 'INR' }}</td>
    </div>
  </section>
} @else {
  <section class="noExpenseContainer">
    <div class="card nocard-one">
      <img class="noDataImage" src="/logo.svg" alt="logo image of the application" />
    </div>
    <div class="card nocard-two">
      <h2 class="displayText">No data available</h2>
    </div>
  </section>
}
