<div class="container">
  <div class="row">
    <div class="column">
      <app-header></app-header>
    </div>
  </div>

  <div class="row aside-container">
    <div class="column column column-20">
      <app-aside></app-aside>
    </div>
    <div class="column column-80 router-container">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  <div class="row column column-100">
    <footer class="footer">
      <app-footer></app-footer>
    </footer>
  </div>
</div>
