<section class="container">
  <button class="button completedbtn">Expense tracker</button>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Expense Categories</th>
        <th>Amount</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Stephen Curry</td>
        <td>27</td>
        <td>1,91</td>
        <td>Akron, OH</td>
      </tr>
      <tr>
        <td>Klay Thompson</td>
        <td>25</td>
        <td>2,01</td>
        <td>Los Angeles, CA</td>
      </tr>
    </tbody>
    <tfoot>
      <thead>
        <tr>
          <td [attr.colspan]="3">Sum: $180</td>
        </tr>
      </thead>
    </tfoot>
  </table>
</section>
