<section>
  <div class="container logo-container">
    <img class="logo" src="/logo.svg" alt="logo" />
  </div>
  <header>
    <h1 class="title">Update your password… before it escapes!</h1>
  </header>
  <div class="box">
    <div class="form-container">
      <div class="form">
        <form (submit)="onSubmitForm($event)">
          <fieldset>
            <div class="passwordContainer">
              <label for="passwordField">Password</label>
              <input
                [formField]="passwordForm.password"
                [type]="isPasswordHidden() ? 'password' : 'text'"
                placeholder="Enter your password"
                id="passwordField"
                autocomplete="none"
                autofill="none"
              />
              <span type="button" class="toggle-btn" (click)="togglePasswordVisibility()">
                {{ isPasswordHidden() ? 'Show' : 'Hide' }}
              </span>
              @if (
                passwordForm.password().invalid() &&
                (passwordForm.password().dirty() || passwordForm.password().touched())
              ) {
                @for (error of passwordForm.password().errors(); track error.kind) {
                  <p class="error">{{ error.message }}</p>
                }
              }
            </div>
          </fieldset>
          <fieldset>
            <div class="passwordContainer">
              <label for="passwordField">Confrim Password</label>
              <input
                [formField]="passwordForm.confirmpassword"
                [type]="isPasswordHidden() ? 'password' : 'text'"
                placeholder="Enter your password"
                id="confrimField"
                autocomplete="none"
                autofill="none"
              />
              <span type="button" class="toggle-btn" (click)="togglePasswordconfirm()">
                {{ isConfirmHidden() ? 'Show' : 'Hide' }}
              </span>
              @if (
                passwordForm.confirmpassword().invalid() &&
                (passwordForm.confirmpassword().dirty() || passwordForm.confirmpassword().touched())
              ) {
                @for (error of passwordForm.confirmpassword().errors(); track error.kind) {
                  <p class="error">{{ error.message }}</p>
                }
              }
            </div>
          </fieldset>
          <fieldset>
            <div class="row">
              <button [disabled]="passwordForm().invalid()" type="submit" class="button-black">
                {{ passwordForm().submitting() ? 'updating...' : 'Update' }}
              </button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>
