<section class="aside-container">
  <aside>
    <ul class="nav-list">
      <li class="nav-item"><a [routerLink]="'/home'">Home</a></li>
      <li class="nav-item"><a [routerLink]="'/home/createTodo'">Create Todo</a></li>
      <li class="nav-item"><a [routerLink]="'/home/completedList'">Completed Tasks</a></li>
      <li class="nav-item">
        <a [routerLink]="'/home/pendingList'">Pending Tasks </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'/home/expenseTracker'">Expense Tracker <span>new</span></a>
      </li>
    </ul>
  </aside>
</section>
