<section class="aside-container">
  <aside>
    <ul class="nav-list">
      <li class="nav-item">
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="'/home'"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="'/home/create-todo'"
          >Create Todo</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="'/home/completed-list'"
          >Completed Tasks</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="'/home/pending-list'"
          >Pending Tasks
        </a>
      </li>
      <li class="nav-item">
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="'/home/expense-tracker'"
          >Expense Tracker <span>new</span></a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="'/home/add-expense'"
          >Add Expense <span>new</span></a
        >
      </li>
    </ul>
  </aside>
</section>
