*,
*::after,
*::before {
  list-style: none;
}

a {
  color: #1e272e;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #4b7bec !important;
}

.error {
  font-size: 1.4rem;
  color: crimson;
}
