*,
*::after,
*::before {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #1e272e;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #4b7bec !important;
}

.error {
  font-size: 1.4rem;
  color: crimson;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

@media (max-width: 600px) {
  body {
    font-weight: 400; /* Bumps up the thickness on mobile */
  }
}
